/* Comments: General */
.comments-area {

    padding: 60px 0;
    background-color: $background_color;

    h3 {
        font-size: $h4_font_size;
    }

}

.comments-title {
    margin-bottom: 40px;
}

@media only screen and (min-width: 480px) {
    .comment-list .children { margin-left: 40px; }
}

/* Comments: Body */
.comment-body {
    position: relative;
    padding: 0 0 50px 90px;
    @media only screen and (max-width: 480px ) {
        padding: 0 0 30px 60px;
    }
}

/* Comments: Meta */
.comment-meta {
    margin-bottom: 10px;
}

.comment-author {

    display: inline-block;
    color: $first_color;

    .avatar {
        position: absolute;
        top: 5px;
        left: 0;
        width: 60px;
        border-radius: 50%;
        @media only screen and (max-width: 480px) {
            width: 40px;
        }
    }

    .fn {
        font-weight: 400;
    }

    .says {
        display: none;
    }

}

.comment-metadata {

    display: inline-block;
    color: $third_color;
    font-size: $medium_font_size;
    @media only screen and (max-width: 480px) {
        display: block;
    }

    a {

        color: inherit;
        &:not(.comment-edit-link) {
            pointer-events: none;
        }

        &:hover {
            color: $accent_color;
        }

        &:before {
            content: "-";
            position: relative;
            display: inline-block;
            margin: 0 4px;
            font-weight: 400;
        }
    }

    @media only screen and (max-width : 480px) {
        > a:before { content: none; }
    }

}

/* Comments: Content */
.comment-content {

    p {
        margin: 0 0 10px 0;
    }

    ul {
        margin-left: 25px;
        list-style: disc;
    }

    ul ul,
    ol ul {
        list-style-type: circle;
    }

    ol {
        margin-left: 25px;
        list-style: decimal;
    }

}

/* Comments: Reply */
.comment-reply-link {
    display: inline-block;
}

/* Comments: Awaiting Moderation */
.comment-awaiting-moderation {
    margin-top: 15px;
    color: $first_color;
    font-style: italic;
}

/* Comments: Navigation */
.comment-navigation {

    margin-bottom: 40px;

    .nav-previous,
    .nav-next {
        display: inline-block;
        width: 50%;
    }

    .nav-next {
        text-align: right;
        float: right;
    }

}

/* Comments: Respond */
.comment-list .comment-respond {
    margin: -20px 0 50px 0;
}

.comment-reply-title {
    margin-bottom: 20px;
}

#cancel-comment-reply-link {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}

.comment_form_message textarea {
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid $background_color;
}

#comment-input input {
    
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid $background_color;
    @media only screen and (min-width: 992px) {
        float: left;
        width: 32%;
        margin: 0 2% 15px 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.comment_form_message + .form-submit {
    margin-top: 20px;
}

.no-comments {
    margin-bottom:0;
    color: $first_color;
}