/** Shortcodes: Button */
.wpus-button {

    height: 40px;
    display: inline-block;
    padding: 0 20px;
    border: 2px solid transparent;
    border-radius: 2px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    box-sizing: unset;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: $medium_font_size - 1px;
    text-transform: uppercase;
    transition: all .15s; 

    &.style-bg {

        background-color: $accent_color;
        color: #fff;

        &:hover{
            background-color: $first_color;
            color: #fff;
        }

    }

    &.style-outline {

        border-color: $border_color;
        color: $first_color;

        &:hover{
            border-color: transparent;
            background-color: $first_color;
            color: #fff;
        }

    }

    &.size-sm {
        height: 30px;
        padding: 0 16px;
        line-height: 30px;
    }

    &.size-lg {
        height: 50px;
        padding: 0 30px;
        line-height: 50px;
    }

    &.size-full {
        display: block;
        height: 60px;
        margin: 0 !important;
        padding: 0 20px;
        line-height: 60px;
    }

    span {
        vertical-align: top;
    }

    i {
        font-weight: 400;
        line-height: inherit !important;
    }

    span + i,
    i + span {
        padding-left: 14px;
    }

    &.size-sm span + i,
    &.size-sm i + span {
        padding-left: 8px;
    }

    &.wpus-link {

        color: $accent_color;
        border: none !important;
        background: none !important;
        padding-left: 0;
        padding-right: 0;

        &:hover {
            color: $first_color;
        }

    }
}

/** Shortcodes: Group Buttons */
.wpus-group-button {
    
    margin: -20px 0 0 -20px;

    .wpus-button  {
        margin: 20px 0 0 20px;
    }
    
}