/** Shortcode: Google Map */
.wpus-google-map-wrap {
	
    position: relative;

    img {
        max-width: none !important;
    }
    
}

.gm-style-iw {
    padding-top: 8px;
    color: #bbb !important
}