/*-------------------------------------------------------------------------*/
/*  Back To Top
/*-------------------------------------------------------------------------*/

#back-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #222;
    color: #fff;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    opacity: 0;
    box-sizing: content-box;
}