/** Load more */
.wpus-load-more {

    text-align: center;

    &.text-left {
        text-align: left !important;
    }

    &.text-right {
        text-align: right !important;
    }

    .style-button {
        display: inline-block;
        border-color: transparent;
        background-color: transparent;
    }

    &.style-bg .wpus-button {
        background-color: $background_color;
        color: $first_color;
    }

    &.style-outline .wpus-button {
        background: none;
        border-color: $border_color;
        color: $first_color;
    }

    &.style-bg .wpus-button:hover,
    &.style-outline .wpus-button:hover {
        border-color: transparent;
        background-color: $accent_color;
        color: #fff;
    }

    .no-more-post {
        pointer-events:none;
    }

    .wpus-portfolio + & {
    	margin-top: 60px;
    }
    
}