/*-------------------------------------------------------------------------*/
/*  Site search
/*-------------------------------------------------------------------------*/

.site-search {
    z-index: 99999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( #000, .95 );
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQAQMAAAC032DuAAAABlBMVEUAAADu7u6BVFV4AAAAAXRSTlMAQObYZgAAAK5JREFUKM+1kkEOhSAMRD+ERZccoUfxaBz9k8zYF2WtCfoQOpR2fp89S5+2xyXse6Rw7DGF4eE/Q5je7+iGpl7NS7UtLWsZS4bmtZZOxLHWWVbX1IvdmAq1UBhDshZOY5eshVeVYk9u4V6Yo3BGYczCkYX9KmzrRDYQhhhHcDDpHEmSOhfimlyeklCos3wUlVLTANpCs2jhu7G0GxNgDQzztBHmwnIY8WFPTPvV8wdphQ/xtv0rQAAAAABJRU5ErkJggg==") 38 38, default;

    &.show-site-search {
        opacity: 1;
        visibility: visible;
    }

    .search-form {
        z-index: 999999;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 600px;
        width: 90%;
        opacity: 0;
        transition: opacity .5s, transform .5s;
        transform: translate(-50%, 30%);

        &:after {
            content: none;
        }
    } 

    &.show-site-search .search-form {
        opacity: 1;
        transform: translate(-50%,-50%);
    }  

    .search-field {
        height: auto;
        background: none !important;
        padding: 20px 30px;
        border-bottom: 1px solid rgba( #fff, .1 );
        color: #fff;
        font-size: 3em;
        text-align: center;

        @media only screen and (max-width: 767px) {
            font-size: 1em;
        }
    }
    
}