/** Header: Icons */
.header-type-2 {

    .wpus-menu-cart,
    .wpus-menu-search {
        position: absolute;
    }

    .wpus-menu-search {
        right: 3px;
    }

    .wpus-menu-cart {
        right: 42px;
    }
    
}

.header-type-3,
.header-type-4 {
    .wpus-menu-cart,
    .wpus-menu-search {
        float: right;
    }
}

/** Menu: Bars icon */
@media only screen and ( min-width: 992px ) {
    .menu-standart .wpus-menu-bars { display: none; }
}

@media only screen and ( max-width: 992px ) {
    .menu-standart .wpus-menu-bars { display: inline-block; }
}

.wpus-bars-icon {
    position: relative;
    top: -3px;
    width: 23px;
    margin: 0;

    &,
    &:before,
    &:after {
        display: inline-block;
        width: 20px;
        border-top: 2px solid;
        transition: all .15s;
    }

    &:before,
    &:after {
        position: absolute;
        right: 0;
        content: '';
    }

    &:after {
        bottom: -5px;
    }

    &:before {
        top: -7px;
    }

}