/*-------------------------------------------------------------------------*/
/*  Forms
/*-------------------------------------------------------------------------*/

/** Buttons */
.button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
    display: inline-block;
    padding: 0 24px;
    border: 2px solid transparent;
    border-radius: 2px;
    background: $accent_color;
    color: #ffffff;
    font-size: $medium_font_size - 1px;
    font-weight: 600;
    font-family: inherit;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    transition: color .15s, background-color .15s, border-color .15s;

    &:hover {
        color: #ffffff;
        background-color: $first_color;
    }

}

/** Input & Textarea */
[type="text"], 
[type="password"], 
[type="date"], 
[type="datetime"], 
[type="email"], 
[type="number"], 
[type="search"], 
[type="tel"], 
[type="time"], 
[type="url"], 
textarea { 
    display: block;
    width: 100%;
    margin-bottom: 5px;
    height: 44px;
    padding: 0 15px;
    border: none;
    background-color: $background_color;
    text-align: left;
    appearance: none;
}

textarea {
    height: 150px;
    padding: 10px 15px;
    line-height: 1.7;
    resize: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}


/** Select */
select {
    width: 100%;
    height: 44px;
    padding: 0 15px;
    background-color: $background_color;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form.woocommerce-ordering,
table.variations td.value,
#calc_shipping_country_field {

    position: relative;

    &:after {
        content: '\e612';
        position: absolute;
        top: 0;
        right: 15px;
        font-family: 'adamas-icon';
        line-height: 44px;
    }

}


/** Checkbox & Radio */
[type="file"],
[type="checkbox"],
[type="radio"] {
    margin: 0 7px 0 0;
}

/** Placeholder text color selectors need to be separate to work */
::-webkit-input-placeholder {
    color: inherit;
    text-overflow:ellipsis;
}

:-moz-placeholder {
    color: inherit;
    text-overflow:ellipsis;
}

::-moz-placeholder {
    color: inherit;
    text-overflow:ellipsis;
}

:-ms-input-placeholder {
    color: inherit;
    text-overflow:ellipsis;
}

/** Search form */
.search-form {
    
    position: relative;
    
    &:after {
        content: '\e036';
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -.5em;
        font-family: 'adamas-icon';
        color: inherit;
        font-size: 13px;
        line-height: 1em;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        opacity: .5;
    }

    .search-field {
        margin: 0;
        padding-right: 42px;
    }

}

.widget_search input {
    margin-bottom: 0;
}