/** Masonry */
.wpus-grid {

    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s, height .3s;

	&.show{
		opacity: 1;
	}
    
    @media only screen and (max-width : 480px) {
        img {
            width: 100%;
            max-width:none;
        }
    }

}

.size-wide,
.size-tall,
.size-regular,
.size-widetall {

    &.wpus-grid-item {
        overflow: hidden;
    }

    .wpus-figure,
    .wpus-image,
    .wpus-rollover {
        position: static;
    }

}