/** Portfolio: Filter */
.wpus-filter {
    margin-bottom: 20px;

    .container {
        padding: 0;
    }

    ul {
        margin: 0 -5px;
    }

    &.style-minimal ul {
        margin: 0 -14px;
    }

    li {
        display: inline-block;
        padding: 0 5px;
    }

    &.style-minimal li {
        padding: 0 14px;
    }

    a {
        display: block;
        height: 34px;
        padding: 0 16px;
        border-radius: 2px;
        border: 2px solid transparent;
        line-height: 34px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        box-sizing: unset;
        transition: color .15s, border-color .15s, background-color .15s;

        &:hover
        &.active {
            color: $accent_color;
        }

    }

    &.style-bg a {
        background-color: $background_color;
        color: inherit;
    }

    &.style-outline a {
        background: none;
        border-color: $border_color;
        color: inherit;
    }

    &.style-bg a:hover,
    &.style-outline a:hover,
    &.style-bg a.active,
    &.style-outline a.active  {
        border-color: transparent;
        background-color: $accent_color;
        color: #fff;
    }

    &.style-minimal a {
        color: $third_color;
        border: none !important;
        background: none !important;
        padding-left: 0;
        padding-right: 0;

        &.active,
        &:hover {
            color: $accent_color;
        }

    }

}
