/** Widgets: Portfolio / Flickr / Instagram */
.adamas-flickr-widget,
.adamas-instagram-widget {

    margin: -3% 0 0 -3%;
    font-size: 0;

	a {

		display: inline-block;
	    width: 22%;
	    height: auto;
	    margin: 3% 0 0 3%;

	    @media only screen and (min-width: 480px) and (max-width: 992px) {
		    width: 75px;
		}

	}

}
